.App {
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(0, 0, 0);
    color: #fff;
    margin-bottom: 50px;
  }
  
  nav > .nav-links {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  